@import "tailwindcss";

.submit-btn:hover {
  background-color: #1e40af;
  cursor: pointer;
}

body{
  background-color: #000;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:active, input:focus {
  outline: none;
  border-color: white;
}

.region-detail {
  max-width: 150px;
}

.details {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
}
.card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transform: translate3d(0, -5px, 0);
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}